{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
	<div class="container" style="font-family: Helvetica; font-size: 12pt;">
		<div class="row">
		 	<div class="col">
	 		</div>

	 		<div class="col">
	 			<div class="card text-center" style="margin-top: 50%">
					  <div class="card-header"><h4>Sign In</h4></div>
					  <div class="card-body">
						    <h6 class="card-title">Sign in using your username and password.</h6>
						    <p class="card-text">
						    	<div id="login-container" >
									<form method="post">
										{% csrf_token %}
										{{ form.as_p }}
										<button type="submit" class="btn btn-primary" >Login</button><br><br>
									</form>
								</div>
						    </p>
				  		</div>
				<div class="card-footer text-muted">
				<p>	If you are a new user, Click on 
								<strong><a href = '/register'>Register</a></strong> to register a new account.</p>
				</div>
			</div>
	 			
 			</div>

 		<div class="col">

			</div>
		</div>
	</div>
		
{% endblock %}