<!-- 
	After Subscription Cancellation Page
 -->

<! doctype html>

<div class="container">

	<div style="float:center">
				<h5><a href = '/logout'> Logout</a></h5>

	<div style="float:center">
				<h5><a href = '/userprofile'> View Account </a></h5>

	<h4>We are sad to see you go.<br>
	Your Subscription has been cancelled,subscription will remain active till the end of the period.</h4>
</div>
</div>