<!-- 
	1. Displays the User Profile for the customer
	2. Based on the status of the subscription account state is displayed
		-> Active  : Customer subscribed  
		-> Inactive : Customer didnt pay the due subscription amount
		-> Active-Cancelled : Subscribed and then cancelled the subscription i.e
		subscription remains active till the next billing period.

 -->



{% extends 'base.html' %}

{%block content%}


	<div class="container">
		<div style="float:right">
			<h5><a href = '/logout'> Logout</a></h5>
		</div>
		<div>
			<p> Welcome {{user}} <span class="fas fa-user"></span> </p>
			<div class="panel .panel-primary">
	  			<div class="panel-heading"></div>
	  			<div class="panel-body">
	  				<br><br><h4><u>Account Details:</u></h4>
				 	{% if status == "Active" or status == "Active - Cancelled" %}
						<p><b>Activation Date</b> : {{startDate}} </p> 
						<p><b>Subscription Start Date</b> : {{freetrial_endDate}} </p> 
						<p><b>Status</b>: {{status}} </p> 
						
						{% if status == 'Active - Cancelled' %}
							<p style="color:red;"> Your subscription is cancelled, subscription will remain active till the end of the period.</p>

						{% endif %}	
						
						{% if status == "Active" %}
							<p><b>End of the usage period</b> : {{invoiceDueDate}} </p> 
							<p><b>Amount Due </b>: {{invoiceAmountDue}} (USD)</p> 

							<p><b><i>Thank you for your order.Your 7 day trial starts from today and premium subscription will start from {{freetrial_endDate}}.</i></b></p>
							<strong><a href = '/subscription'>Cancel Subscription</a></strong> 
						{% endif %}	

					{% else %}
						<h6>You have no active subscriptions available.Kindly purchase the subscription.</h6>
				 	
					{% endif %}

	  			</div>
			</div>
		</div>
	</div>
				
{% endblock %}