<!-- 
	New User Registration Page
 -->


{% 	extends "base.html" %}

{% block content %}

	<div class="container">
		<div class="card" style="margin-top: 5%">
		  <div class="card-header">
		    <h4>New User Registration</h4>
		  </div>
		  <div class="card-body">
		    <blockquote class="blockquote mb-0">
		      
		      <div id = "formContent">
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<center> <button class="btn btn-primary" type="submit">Register</button> </center>
				</form>
			  </div>
		    </blockquote>
		  </div>
		</div>
		
	</div>

{% endblock %}